<configuration scan="true" scanPeriod="60 seconds">
    <!-- 所有环境下定义 ConsoleAppender -->
    <property name="log.console" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%level) %logger{36} - %msg%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.console}</pattern>
        </encoder>
    </appender>
    <!-- 非 local 环境下定义 RollingFileAppender -->
    <springProfile name="!local">
        <!-- 日志存放路径 -->
        <property name="log.path" value="logs"/>
        <!-- 日志输出格式 -->
        <property name="log.file" value="%d{HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n"/>
        <!-- info 级别 RollingFileAppender -->
        <appender name="file.info" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log.path}/info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${log.file}</pattern>
            </encoder>
        </appender>
        <!-- error 级别 RollingFileAppender -->
        <appender name="file.error" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>error</level>
            </filter>
            <file>${log.path}/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log.path}/error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${log.file}</pattern>
            </encoder>
        </appender>
    </springProfile>
    <!-- info 及以上级别的日志输出至控制台 -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
    <!-- local 环境下配置 -->
    <springProfile name="local">
        <!-- 指定包或类的日志输出级别 -->
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
        <logger name="com.ctsi.dgbu" level="debug"/>
    </springProfile>
    <!-- 非 local 环境下配置 -->
    <springProfile name="!local">
        <!-- info 及以上级别的日志输出至日志文件 -->
        <root level="info">
            <appender-ref ref="file.info"/>
            <appender-ref ref="file.error"/>
        </root>
    </springProfile>
</configuration>
